@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}


@media only screen and (max-width: 768px) {
    .font-r-5 {
        font-size: 5px !important;
    }

    .font-r-6 {
        font-size: 6px !important;
    }

    .font-r-7 {
        font-size: 7px !important;
    }

    .font-r-8 {
        font-size: 8px !important;
    }

    .font-r-9 {
        font-size: 9px !important;
    }

    .font-r-10 {
        font-size: 10px !important;
    }

    .font-r-11 {
        font-size: 11px !important;
    }

    .font-r-12 {
        font-size: 12px !important;
    }

    .font-r-13 {
        font-size: 13px !important;
    }

    .font-r-14 {
        font-size: 14px !important;
    }

    .font-r-15 {
        font-size: 15px !important;
    }

    .font-r-16 {
        font-size: 16px !important;
    }

    .font-r-17 {
        font-size: 17px !important;
    }

    .font-r-18 {
        font-size: 18px !important;
    }

    .font-r-19 {
        font-size: 19px !important;
    }

    .font-r-20 {
        font-size: 20px !important;
    }

    .font-r-21 {
        font-size: 21px !important;
    }

    .font-r-22 {
        font-size: 22px !important;
    }

    .font-r-23 {
        font-size: 23px !important;
    }

    .font-r-24 {
        font-size: 24px !important;
    }

    .font-r-25 {
        font-size: 25px !important;
    }

    .font-r-26 {
        font-size: 26px !important;
    }

    .font-r-27 {
        font-size: 27px !important;
    }

    .font-r-28 {
        font-size: 28px !important;
    }

    .font-r-29 {
        font-size: 29px !important;
    }

    .font-r-30 {
        font-size: 30px !important;
    }

    .font-r-31 {
        font-size: 31px !important;
    }

    .font-r-32 {
        font-size: 32px !important;
    }

    .font-r-33 {
        font-size: 33px !important;
    }

    .font-r-34 {
        font-size: 34px !important;
    }

    .font-r-35 {
        font-size: 35px !important;
    }

    .font-r-36 {
        font-size: 36px !important;
    }

    .font-r-37 {
        font-size: 37px !important;
    }

    .font-r-38 {
        font-size: 38px !important;
    }

    .font-r-39 {
        font-size: 39px !important;
    }

    .font-r-40 {
        font-size: 40px !important;
    }

    .font-r-41 {
        font-size: 41px !important;
    }

    .font-r-42 {
        font-size: 42px !important;
    }

    .font-r-43 {
        font-size: 43px !important;
    }

    .font-r-44 {
        font-size: 44px !important;
    }

    .font-r-45 {
        font-size: 45px !important;
    }

    .font-r-46 {
        font-size: 46px !important;
    }

    .font-r-47 {
        font-size: 47px !important;
    }

    .font-r-48 {
        font-size: 48px !important;
    }

    .font-r-49 {
        font-size: 49px !important;
    }

    .font-r-50 {
        font-size: 50px !important;
    }

    .lh-r-34 {
        line-height: 34px !important;
    }


}
